<div class="lg:flex lg:flex-wrap gap-4 justify-center bg-white">

  <h1 class="text-6xl mt-4 font-semibold w-full text-center">
    Lorem ipsum dolor sit amet.
  </h1>

  <div class="bg-slate-300 h-full w-2/6 flex justify-center m-4">
      <div class="p-10">
        <img class="bg-yellow-700 rounded-full min-w-20" src="./assets/avtar.svg" alt="" />
      </div>
  </div>
  <div class="bg-slate-300 h-full w-3/6 m-4 group">
    <div class=" m-4 w-52 h-1 bg-yellow-700 transform scale-x-0 transition-transform duration-300 group-hover:scale-x-100"></div>
    <p class="font-display font-medium text-xl m-4">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet accusantium
      rem quidem repellendus, doloremque quos. Suscipit tempore quas, est, eum
      neque illo tempora doloribus natus iste, inventore hic illum autem. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, est
      possimus, accusamus tenetur molestias obcaecati saepe odio delectus quod
      quaerat distinctio. Blanditiis ullam est modi ipsa non, asperiores quod
      nemo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro
      saepe incidunt eligendi quia, eius cupiditate sed delectus adipisci dolore
      quae sapiente facere quaerat non? Accusamus quasi officiis odio provident
      cupiditate? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
</div>
