<div id="hero" class="">
  <div class="max-w-4xl mx-auto px-6 pb-32 flex flex-col sm:items-center sm:pt-12">
    <div
      class="flex items-center my-6 gap-2 border border-yellow-300 bg-yellow-50 rounded-lg px-3 py-1 w-fit shadow-md hover:shadow-xl hover:-translate-y-1 transition group"
    >
      <div class="w-2 h-2 bg-yellow-400 rounded-full border-yellow-600"></div>
      <p class="font-display font-medium">
        v0.2.2:<span> Customizing Colors</span>
      </p>
      <i
        class="fa-solid fa-arrow-right group-hover:translate-x-1 transition duration-75"
      ></i>
    </div>
    <h1 class="text-4xl font-display font-semibold leading-snug mt-4 sm:text-6xl">
      Web app to desktop app in minutes.
    </h1>

    <p class="text-xl mt-4 sm:text-2xl text-gray-800">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore et
      excepturi dolor assumenda molestiae unde dignissimos similique.
    </p>
    <div class="mt-12 flex flex-col gap-4 sm:flex-row">
        <button class="bg-primary font-semibold rounded-lg px-6 py-2 text-white shadow-sm hover:bg-opacity-60 ">
            Download now 
        </button>
        <button class="py-2 px-6 font-semibold rounded-lg bg-white border border-gray-400 hover:border-gray-600">
            Read Docs
        </button>
    </div>
  </div>
</div>
